doctype html
html.
    <head>
      <meta charset="UTF-8">
      <title>camera</title>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">


      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <link rel="stylesheet" href="./stylesheets/camera.css"> 
      <link rel="stylesheet" href="./stylesheets/jquery.mobile-1.4.5.min.css" />
      <script src="./javascripts/jquery.mobile-1.4.5.min.js"></script> 

    </head>

    <body>

    <div data-role="page" id="camera">

      
      <div data-role="header"  data-position="fixed" data-fullscreen="true">
        <h1>OnBoard-Camera</h1>
      </div><!-- /header -->
      <br/>
      <br/>
      <video id="videoimg" autoplay></video>
      <div>
        <button id="snappicture">Take a picture</button>
      </div>
      <canvas id="canvasimg"></canvas> 
      
      <div>
         <button id="downloads">DOWNLOAD</button>
      </div>
      <br/>
      <div>
         <button id="uploads">UPLOAD</button>
      </div>
      <br/>
      <br/>
      <br/>

      
      <!-- <div>
        <button id="download">Download</button>
      </div>
      <div>
        <button id="ocr">OCR</button>
      </div>
      -->      

      <div data-role="footer" data-position="fixed" data-fullscreen="true">
        <h4>Copyright(c)OnBoard,2015</h4>
      </div><!-- /footer -->

    </div>

    
    <script>

          

      window.addEventListener('DOMContentLoaded', function() {


          
          // Setup the Audio and Video

          var canvasimg = document.getElementById("canvasimg"),
          context = canvasimg.getContext("2d"),
          video = document.getElementById("videoimg"),
          videoSetup = { "video": true };


          canvasimg.width  = 1024;
          canvasimg.height = 768;
          video.width  = 1024;
          video.height = 768;  
          //Old method use
          var errBack = function(error) {
            console.log("Video capture error: ", error.code); 
          };
        
          
          // Old method,navigator.getUserMedia
          if(navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoSetup, function(stream) {
              video.src = stream;
              video.play();
            }, errBack);
          } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
            
            navigator.webkitGetUserMedia(videoSetup, function(stream){
              
              video.src = window.URL.createObjectURL(stream);
              video.play();
            }, errBack);
          }
          else if(navigator.mozGetUserMedia) { // Firefox-prefixed
            navigator.mozGetUserMedia(videoSetup, function(stream){
              video.src = window.URL.createObjectURL(stream);
              video.play();
            }, errBack);
          }

          
          
          

          document.getElementById("snappicture").addEventListener("click", function() {
              context.drawImage(video, 0, 0, 1024, 768);

              /*
              $.ajax({
                type: 'POST',
                url: "/",
                data: {"dataURI":dataURI},
                dataType: 'json',
                
                error: function(xhr) {
                    console.log(xhr);
                    alert('發生錯誤');
                },
                success: function(response) {
                    console.log(response);
                    alert('拍照成功');
                }
              });
              */

          });
          /*
          document.getElementById("ocr").addEventListener("click", function() {
              
              var r = confirm("Ocr??");
              if (r === true) {
                  alert("Strat,please wait");
                
              } else {
                  alert("No Ocr");
              }
          });
          */
          function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
          }

          document.getElementById("downloads").addEventListener("click", function() {
              var dataURI = canvasimg.toDataURL();
              
              downloadURI(dataURI, "onboard.png");

          }); 
          document.getElementById("uploads").addEventListener("click", function() {
              
              window.location.href = "/uploads";
  
          });  

      }, false);


    </script>
    </body>
