doctype html
html.
    <head>
      <meta charset="UTF-8">
      <title>OnBoard</title>
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
    <video id="video" autoplay></video>
    <button id="snap">Take a picture</button>
    <canvas id="canvas"></canvas>
    <button id="ocr">OCR</button>
    
    <script>

          

      window.addEventListener('DOMContentLoaded', function() {


          
          // Setup the Audio and Video

          var canvas = document.getElementById("canvas"),
          context = canvas.getContext("2d"),
          video = document.getElementById("video"),
          videoSetup = { "video": true };


          canvas.width  = 1600;
          canvas.height = 1200;
          video.width  = 1600;
          video.height = 1200;  
          canvas.style.width  = '400px';
          canvas.style.height = '300px';
          video.style.width  = '400px';
          video.style.height = '300px';

          //Old method use
          var errBack = function(error) {
            console.log("Video capture error: ", error.code); 
          };
        
          
          // Old method,navigator.getUserMedia
          if(navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoSetup, function(stream) {
              video.src = stream;
              video.play();
            }, errBack);
          } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
            
            navigator.webkitGetUserMedia(videoSetup, function(stream){
              
              video.src = window.URL.createObjectURL(stream);
              video.play();
            }, errBack);
          }
          else if(navigator.mozGetUserMedia) { // Firefox-prefixed
            navigator.mozGetUserMedia(videoSetup, function(stream){
              video.src = window.URL.createObjectURL(stream);
              video.play();
            }, errBack);
          }

          
          
          

          document.getElementById("snap").addEventListener("click", function() {
            
              context.drawImage(video, 0, 0, 1600, 1200);
              var dataURI = canvas.toDataURL();
              $.ajax({
                type: 'POST',
                url: "/",
                data: {"dataURI":dataURI},
                dataType: 'json',
                
                error: function(xhr) {
                    console.log(xhr);
                    alert('發生錯誤');
                },
                success: function(response) {
                    console.log(response);
                    alert('拍照成功');
                }
              });


          });

          document.getElementById("ocr").addEventListener("click", function() {
              
              var r = confirm("Ocr??");
              if (r === true) {
                  alert("Strat,please wait");
                
              } else {
                  alert("No Ocr");
              }

              

              
  
          });

      }, false);


    </script>
    </body>
