doctype html
html.
  <head>
    

  </head>
  <body>
    <a href="">Destination:XXX</a>
    <a href="">Gate:XXX</a>
    <a href="">Weather in XXX</a>
  </body>
<!--
  head
    title= title
  body
    p
    p
    p
-->

