doctype
html
  head
    title weather
    meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script(src="./javascripts/weather.js")
    link(href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="./stylesheets/jquery.mobile-1.4.5.min.css")
    link(rel="stylesheet" href="./stylesheets/weather.css")
    script(src="./javascripts/jquery.mobile-1.4.5.min.js")

  body
    div(data-role="page" id="weather_page")
      div(data-role="header"  data-position="fixed")
        h1 OnBoard

      div(role="main" class="ui-content")
        div(class="weather") #{country}
        button(id="reverse_button") 回到選單


      div(data-role="footer"  data-position="fixed")
        h4 Copyright (c) 2014 dhardin

    //  The MIT License (MIT)

    //  Copyright (c) 2014 dhardin

    //  Permission is hereby granted, free of charge, to any person obtaining a copy of
    //  this software and associated documentation files (the "Software"), to deal in
    //  the Software without restriction, including without limitation the rights to
    //  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
    //  the Software, and to permit persons to whom the Software is furnished to do so,
    //  subject to the following conditions:

    //  The above copyright notice and this permission notice shall be included in all
    //  copies or substantial portions of the Software.

    //  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    //  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
    //  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
    //  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
    //  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    //  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

    script.
      $(document).ready(function() {
        $(".weather").weatherFeed({
            relativeTimeZone: true
        });
      });

      document.getElementById("reverse_button").addEventListener("click", function() {
           window.location.href = "/ocrs";
      });





    
