
html{
      height: 100%;
      width: 100%;
}

body {
  /*display: flex;*/
  width:100%;
  height: 100%;
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  text-align: center;
}

a {
  color: #00B7FF;
}

.camera {
        width:100%;
        height: 100%;
      
        
}

.camera > div{
      height:100%;
      width:100%;
}


#videoimg {
  width:100%;
  max-width:500px;
  height:auto;

}

#canvasimg{
   /*margin: 0 auto;*/
   width:100%;
   max-width:500px;
   height:auto;
     
}

/*
@media screen and (max-width: 768px) {
  // Media Query ，也就是當寬度 < 768 px 時將載入下面這段 CSS :
  //CSS的內容
  #canvasimg{
       height: 300px;

  }

}

@media screen and (max-width: 480px) {
     // Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
     //CSS的內容

  #canvasimg{
       width: 100%;
       height: 160px;
  }
}


 @media only screen and (max-width: 320px) {
      // Media Query ，也就是當寬度 < 320 px 時將載入下面這段 CSS :
     //CSS的內容

  #canvasimg{
       width: 100%;
       height: 240px;

  }

}
*/







